<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>在逃库详情页</title>
</head>
<body>
    <img th:src="${imageSrc}" id="ryxp">
    <img th:src="${imageShow}">
    <table id="mainTable">
        <tbody>
            <tr>
                <td></td>
                <td data-th-text="${ztbh}"></td>
            </tr>
            <tr>
                <td></td>
                <td data-th-text="${name}"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td data-th-text="${sfzh}"></td>
            </tr>
        </tbody>

    </table>
</body>
</html>